* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --section-padding-top: 1rem;
  --section-padding-bottom: 1rem;
  --color-primary: #7209b7;
  --color-secondary: #f72585;
  --color-accent: #E5383B;
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-text: #222222;
  --font-body-family: 'Poppins';
  --font-body-weight: 400;
  --font-body-style: normal;
  --font-body-lineheight: 1.4;
  --font-heading-family: 'Poppins';
  --font-heading-weight: 600;
  --font-heading-style: normal;
  --font-heading-lineheight: 1.6;
}

@media screen and (min-width: 750px) {
  :root {
    --section-padding-top: 3rem;
    --section-padding-bottom: 3rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: var(--font-body-family);
}

.h0,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-heading-family);
  font-weight: var(--font-heading-weight);
  line-height: var(--font-heading-lineheight);
}

.h0 {
  font-size: 4.8rem;
}

@media screen and (min-width: 750px) {
  .h0 {
    font-size: 5.4rem;
  }
}

.h1 {
  font-size: 4rem;
}

@media screen and (min-width: 750px) {
  .h1 {
    font-size: 4.8rem;
  }
}

.h2 {
  font-size: 3.6rem;
}

@media screen and (min-width: 750px) {
  .h2 {
    font-size: 4rem;
  }
}

.h3 {
  font-size: 2rem;
}

@media screen and (min-width: 750px) {
  .h3 {
    font-size: 2.2rem;
  }
}

.h4 {
  font-size: 1.8rem;
}

@media screen and (min-width: 750px) {
  .h4 {
    font-size: 2rem;
  }
}

.h5 {
  font-size: 1.5rem;
}

@media screen and (min-width: 750px) {
  .h5 {
    font-size: 1.7rem;
  }
}

.typeset0,
.typeset,
.typeset1 {
  font-family: var(--font-body-family);
  font-weight: var(--font-body-weight);
  line-height: var(--font-body-lineheight);
}

.typeset0 {
  font-size: 1.6rem;
}

@media screen and (min-width: 750px) {
  .typeset0 {
    font-size: 1.8rem;
  }
}

.typeset0 {
  font-size: 1.4rem;
}

@media screen and (min-width: 750px) {
  .typeset0 {
    font-size: 1.6rem;
  }
}

.typeset1 {
  font-size: 1.3rem;
}

@media screen and (min-width: 750px) {
  .typeset1 {
    font-size: 1.4rem;
  }
}

.page-width {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
}

.section-padding {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

header {
  border-bottom: 0.1rem solid rgba(255, 255, 255, .2);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  --section-padding-top: 2rem;
  --section-padding-bottom: 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container .logo_img {
  max-width: 9rem;
  max-height: 4rem;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left;
  text-align: left;
}

/* Navigation Links */

.header-container .nav_list {
  position: relative;
  list-style: none;
  display: inline-flex;
  gap: 1rem;
}

.header-container .nav_list a.nav_list-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.3s ease;
  padding: 0.3rem 1rem;
}

.header-container .nav_list a.nav_list-link svg path {
  transition: all 0.3s ease;
}

.nav_list .is-top--nav {
  position: relative;
}

.nav_list .drop--menu-list {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 16rem;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, .2);
}



.nav_list .is-top--nav:hover .drop--menu-list {
  opacity: 1;
  transform: translateX(0);
}

.nav_list .drop--menu-list a.nav_list-link {
  background: transparent;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1.4rem;
  border-bottom: 0.2rem solid #FFFFFF;
  display: inline-block;
  width: 100%;
}

.header-container .nav_list a.nav_list-link:hover {
  color: var(--color-accent);
}

.header-container .nav_list a.nav_list-link:hover svg path {
  stroke: var(--color-accent);
}

.header-container .nav_list:not(:has(.nav_list-link:hover)) > li:first-child > .nav_list-link {
  color: var(--color-accent);
}

.header-container .nav_call-btn {
  text-decoration: none;
  color: var(--color-light);
}

.hero-section {
  position: relative;
  min-height: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('assets/high-sky-building.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.hero-section::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
  z-index: -1;
}

.hero--section-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.accent-heading {
  font-size: 2rem;
  line-height: 1.4;
  background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
  text-transform: uppercase;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.main-heading {
  color: var(--color-light);
  font-size: 5.4rem;
  font-weight: 600;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

/* btn */

.btn:has(> .label-seek) {
  position: relative;
  text-decoration: none;
  background: linear-gradient(150deg, var(--color-primary), var(--color-secondary));
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border: 0.2rem solid transparent; */
}

.btn.btn-secondary:has(> .label-seek) {
  background: transparent;
  box-shadow: inset 0 0 0 2px var(--color-primary);
}

.btn:not(:has(> .label-seek)),
.btn .label, .btn .label-seek {
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  min-width: 15rem;
  width: auto;
  padding: 1.5rem 3rem;
  text-align: center;
  background: linear-gradient(150deg, var(--color-primary), var(--color-secondary));
  border-radius: 3rem;
  color: var(--color-light);
  text-decoration: none;
  transition: all 0.3s ease;
  /* border: 0.2rem solid transparent; */
}

.btn:has(> .label-seek):hover .label {
  position: absolute;
  transform: translate3d(0, 100%, 0);
}

.btn:has(> .label-seek):not(:hover) .label-seek {
  position: absolute;
  transform: translate3d(-100%, 0, 0);
}

.btn-secondary:not(:has(> .label-seek)),
.btn:has(> .label-seek) .label, .btn-secondary .label-seek {
  background: transparent;
  /* border: 0.2rem solid var(--color-primary); */
  /* box-shadow: inset 0 0 1px var(--color-primary); */
}